html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    width: 100%;
    background-image: url(bg.png);
}
.menu {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    display: flex;
    align-items: center;
}
.name img {
    width: 50px;
    height: 50px;
}
.name h1 {
    color: rgb(81, 168, 81);
    font-weight: lighter;
}
.name span {
    color: rgb(235, 79, 79);
    font-weight: lighter;
}
.list ul {
    display: flex;
    list-style: none;
    gap: 20px;

}
.list ul a {
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    color: rgb(99, 25, 25);
}
.button button {
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    justify-content: center;
    border-radius: 20px;
    background-color: #196419;
    color: #eee;
    border: 1px solid #eee;
}
 header .container {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content {
    width: 100%;
}

.container .content h1 {
    margin-top: -150px;
    padding: 0 300px 0 250px;
    font-size: 80px;
    justify-content: flex-end;
    align-items: center;
}
.container .content p {
    font-size: 30px;
    padding: 50px 200px 0 280px ;
    justify-content:center;
    align-items: center;

}
.container .content button {
    padding: 10px 40px;
    margin-left: 300px;
    border-radius: 20px;
    background-color: rgb(24, 122, 24);
    border: 1px solid #ccc;
    color: #eee;
}
.container .content .photo {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px 250px;
}
.container .content .photo img {

    width: 100px;
    height: 100px;
}
.container .logo img {
    width: 200px;
    height: 300px;
    margin: 300px -100px;
    display: flex;
   justify-content: space-between;
   border-radius: 50%;
} 
